<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#3c0000] text-[#f5d0c5]">
        <div class="flex justify-center items-center">
    <div >
        <h2>Log In</h2>
        <form action="/login" method="post">
            <input type="text" class="bg-[#774936] rounded-lg px-3 py-2 mt-2"placeholder="email" name="email">
            <input type="text" class="bg-[#774936] rounded-lg px-3 py-2 mt-2" placeholder="password" name="password">
            <input type="submit" class="bg-[#050609] rounded-lg px-3 py-2 mt-2" value="Login user">
        </form>
    </div>
        </div>

</body>
</html>